h1 {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}

p {
    text-align: center;
    background-color: black;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:20px;
    letter-spacing: 8px;
    border-radius: 10px;
}

.favorite {
    color: red;
    font-weight: bold;
}

.favorite {
    color: red;
    font-weight: bold;
}

ol#summer-drinks li {
    font-weight: normal;
    font-size: 12px;
    color: black;
 }